*.suo
*.user
*.sln.docstates
*.sln.DotSettings
[Dd]ebug/
[Rr]elease/
x64/
build/
src/*/[Bb]in/
[Oo]bj/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.psess
*.vsp
*.vspx
_ReSharper*/
*.[Rr]e[Ss]harper
*.dotCover
*.ncrunch*
.*crunch*.local.xml
publish/
*.Publish.xml
*.pubxml
packages/
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.[Pp]ublish.xml
*.pfx
*.publishsettings
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store